<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="npc-sheet-header">
    <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "breathless.gen.name"}}"/>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <textarea class="sub-header-fields" name="system.looks" type="text" value="{{looks}}" placeholder="{{localize "breathless.npc.LooksNpcInput"}}">{{looks}}</textarea>
    <textarea class="sub-header-fields" name="system.behaviors" type="text" value="{{behaviors}}" placeholder="{{localize "breathless.npc.BehaviorsNpcInput"}}">{{behaviors}}</textarea>
    <textarea class="sub-header-fields" name="system.motivations" type="text" value="{{motivations}}" placeholder="{{localize "breathless.npc.MotivationsNpcInput"}}">{{motivations}}</textarea>
  </header>
  
  <section class="sheet-body">
    <h2>{{localize "breathless.ActorNotes"}}</h2>
    <div class="tab notes">
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>

</form>