<form class="{{cssClass}}" autocomplete="off">
    <header>
        <h1 class="header_title" >{{getSetting "cs_title"}}</h1>
        <div class="header_section flexrow">
            <div class="flexcol flex3">
                <div class="flexrow">
                    <label for="name">{{localize "breathless.gen.name"}}</label>
                    <input class="flex3" name="name" id="name" type="text" value="{{name}}"/>
                </div>
                <div class="flexrow">
                    <label for="pronouns">{{localize "breathless.gen.pronouns"}}</label>
                    <input class="flex3" name="system.pronouns" id="pronouns" type="text" value="{{pronouns}}"/>
                </div>
                <div class="flexrow">
                    <label for="job-name">{{localize "breathless.gen.job"}}</label>
                    <input class="flex3" name="system.job.name" id="job-name" type="text" value="{{job.name}}"/>
                </div>
            </div>
            <div class="header_buttons">
                <button type="button" class="on-click" data-roll-type="catch-breath">{{localize "breathless.gen.catch"}}</button>
                {{#if (getSetting "enable_lootcheck")}}
                    <button type="button" class="on-click" data-roll-type="loot-check">{{localize "breathless.gen.loot.check"}}</button>
                {{/if}}
            </div>
        </div>
    </header>

    <div class="charsheet-section flexrow">
        <div class="left_column">
            <div class="item-section-header">
                <button type="button" class="on-click" data-roll-type="item-create" data-type="skill"><i class="fas fa-plus-square"></i></button> 
                <h2>{{getSetting "skill_name"}}</h2> 
                ({{localize "breathless.gen.initial"}}/{{localize "breathless.gen.current.long"}})
            </div>
            {{#each skills as |skill id|}}
                <div class="flexrow item-block" data-item-id="{{skill.id}}">
                    <h3 class="item-name" data-field="name" contenteditable>{{skill.name}}</h3>
                    <span class="item-dice-box-initial flex0" data-field="system.initial">
                        {{skill.system.initial}}
                    </span>
                    <span class="flexcol flex0">
                        <a class="on-click" data-roll-type="stepup" data-field="initial" data-item-id="{{skill.id}}"><i class="fa-solid fa-caret-up"></i></a>
                        <a class="on-click" data-roll-type="stepdown" data-field="initial" data-item-id="{{skill.id}}"><i class="fa-solid fa-caret-down"></i></a>
                    </span>
                    <span class="item-dice-box flex0" data-field="system.current">
                        <a class="on-click" data-roll-type="roll-dice">{{skill.system.current}}</a>
                    </span>
                    <span class="flexcol flex0">
                        <a class="on-click" data-roll-type="stepup" data-field="current" data-item-id="{{skill.id}}"><i class="fa-solid fa-caret-up"></i></a>
                        <a class="on-click" data-roll-type="stepdown" data-field="current" data-item-id="{{skill.id}}"><i class="fa-solid fa-caret-down"></i></a>
                    </span>
                    <span class="item-controls flexcol flex0">
                        <a class="on-click" data-roll-type="item-edit" title="Edit {{skill.name}}" data-item-id="{{skill.id}}"><i class="fa-solid fa-pencil"></i></a>
                        <a class="on-click" data-roll-type="item-delete" title="Delete {{skill.name}}" data-item-id="{{skill.id}}"><i class="fa-solid fa-xmark"></i></a>
                    </span>
                </div>
            {{/each}}

            <div class="stress_box">
                <div class="flexrow stress">
                    <h1 class="flex0">{{getSetting "stress_name"}}</h1>
                    {{#each stress.states as |state count|}}
                        {{#ife state 0}}
                            <a data-pos="{{count}}" class="on-click flex0" data-roll-type="toggle-stress"><i class="fa-regular fa-circle"></i></a>
                        {{/ife}}
                        {{#ife state 1}}
                            <a data-pos="{{count}}" class="on-click flex0" data-roll-type="toggle-stress"><i class="fa-solid fa-circle"></i></a>
                        {{/ife}}
                    {{/each}}
                </div>
                {{#if stress.vulnerable}}
                    <div class="vulnerable_message">
                        <span class="flex0">{{localize "breathless.gen.vulnerable"}}!</span>
                    </div>
                {{/if}}
            </div>
        </div>
        
        <div>
            <div class="item-section-header">
                <button type="button" class="on-click" data-roll-type="item-create" data-type="skill"><i class="fas fa-plus-square"></i></button> 
                <h2>{{getSetting "storage_name"}}</h2> 
                ({{localize "breathless.gen.initial"}}/{{localize "breathless.gen.current.long"}}, {{localize "breathless.gen.sheet.maxitems"}}: {{getSetting "storage_max"}})
            </div>
            {{#each gear as |gear id|}}
                <div class="flexrow item-block" data-item-id="{{gear.id}}">
                    <h3 class="item-name" data-field="name" contenteditable>{{gear.name}}</h3>
                    <span class="item-dice-box-initial flex0" data-field="system.initial">
                        {{gear.system.initial}}
                    </span>
                    <span class="flexcol flex0">
                        <a class="on-click" data-roll-type="stepup" data-field="initial" data-item-id="{{gear.id}}"><i class="fa-solid fa-caret-up"></i></a>
                        <a class="on-click" data-roll-type="stepdown" data-field="initial" data-item-id="{{gear.id}}"><i class="fa-solid fa-caret-down"></i></a>
                    </span>
                    <span class="item-dice-box flex0" data-field="system.current">
                        <a class="on-click" data-roll-type="roll-dice">{{gear.system.current}}</a>
                    </span>
                    <span class="flexcol flex0">
                        <a class="on-click" data-roll-type="stepup" data-field="current" data-item-id="{{gear.id}}"><i class="fa-solid fa-caret-up"></i></a>
                        <a class="on-click" data-roll-type="stepdown" data-field="current" data-item-id="{{gear.id}}"><i class="fa-solid fa-caret-down"></i></a>
                    </span>
                    <span class="item-controls flexcol flex0">
                        <a title="Edit {{gear.name}}" class="on-click" data-roll-type="item-edit" data-item-id="{{gear.id}}"><i class="fa-solid fa-pencil"></i></a>
                        <a title="Delete {{gear.name}}" class="on-click" data-roll-type="item-delete" data-item-id="{{gear.id}}"><i class="fa-solid fa-xmark"></i></a>
                    </span>
                </div>
            {{/each}}
        
            {{#if (getSetting "enable_healing")}}
                <div class="flexrow single-circle-button-group" id="bl-healing">
                    <h2>{{getSetting "healing_name"}}</h2> 
                    <a class="on-click" data-roll-type="use-healing">
                        {{#ife healing.used true}}
                            <i class="fa-solid fa-circle"></i>
                        {{/ife}}
                        {{#ife healing.used false}}
                            <i class="fa-regular fa-circle"></i>
                        {{/ife}}
                    </a>
                </div>
            {{/if}}

            <div class="flexrow single-circle-button-group" id="bl-special">
                <h2>{{getSetting "special_name"}}</h2> 
                <a class="on-click" data-roll-type="use-special">
                    {{#ife special.used true}}
                        <i class="fa-solid fa-circle"></i>
                    {{/ife}}
                    {{#ife special.used false}}
                        <i class="fa-regular fa-circle"></i>
                    {{/ife}}
                </a>
            </div>
        </div>
    </div>
</form>