<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header>
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "breathless.gen.name"}}"/>
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <textarea name="system.looks" type="text" value="{{looks}}" placeholder="{{localize "breathless.npc.LooksNpcInput"}}">{{looks}}</textarea>
    <textarea name="system.behaviors" type="text" value="{{behaviors}}" placeholder="{{localize "breathless.npc.BehaviorsNpcInput"}}">{{behaviors}}</textarea>
    <textarea name="system.motivations" type="text" value="{{motivations}}" placeholder="{{localize "breathless.npc.MotivationsNpcInput"}}">{{motivations}}</textarea>
  </header>
  
  <section>
    <h2>{{localize "breathless.ActorNotes"}}</h2>
    {{editor
      enrichedNotes
      target="system.notes"
      button=true
      editable=editable
      collaborate=false
    }}
  </section>

</form>