<form class="{{cssClass}}" autocomplete="off">
    <header class="breathless charsheet-section sheet-header">
        <div class="breathless header flexrow">
            <div class="breathless header" style="text-align:center">
                <h1 class="caps csh">{{getSetting "cs_title"}}</h1>
            </div>
        </div>
   {{log "Actor in charsheet" actor}}
    </header>
    <div class="breathless charsheet-section flexcol csf">
        <div class="flexrow">
                <h2 class="csh">NAME</h2>
                <span style="border-bottom:2px solid black;" data-field="name" class="charsheet-line inline-edit flex3" contenteditable>{{name}}</span>
        </div>
        <div class="flexrow"> 
                <h2 class="csh">PRONOUNS</h2>
                <span style="border-bottom:2px solid black;" data-field="system.pronouns" class="charsheet-line inline-edit flex3" contenteditable>{{pronouns}}</span>
                <!--input class="breathless text" name="pronouns" type="text" value="{{pronouns}}" data-dType="String"/-->
        </div>
        <div class="flexrow">
                <h2 class="csh">JOB</h2>
               <span style="border-bottom:2px solid black;" data-field="system.job.name" class="charsheet-line inline-edit flex3" contenteditable>{{job.name}}</span>
               <!--input class="breathless text" name="job" type="text" value="{{job}}" data-dType="String"-->
        </div>
    </div>
    <div class="breathless charsheet-section flexrow">
        
        <div class="breathless flexcol csf" style="margin-right:24px">
        <h1 class="csh">{{getSetting "skill_name"}}</h1>    
                {{#each skills as |skill id|}}
                    <div class="item-name item flexrow" style="align-items:center; border-bottom:2px solid black; gap:6px" data-item-id="{{skill.id}}">
                        <h3 style="text-transform:uppercase; display:inline; top:40%">{{skill.name}}</h3>
                        <span class="charsheet-box inline-edit-item" style="background:#beb19b; color:#6b6356" data-field="system.initial" contenteditable>{{skill.system.initial}}</span>
                        <span class="charsheet-box inline-edit-item" data-field="system.current" contenteditable><a class="roll-dice">{{skill.system.current}}</a></span>
                        <span style="color:#beb19b;"><a title="Edit {{skill.name}}" class="item-edit item" data-item-id="{{skill.id}}"><i class="fa-solid fa-pencil"></i></a>&nbsp;
                        <a class="item-delete item" title="Delete {{skill.name}}" data-item-id="{{skill.id}}"><i class="fa-solid fa-xmark"></i></a></span>
                    </div>
                {{/each}}
        </div>
        
        <div class="breathless flexcol csf" style="justify-content:flex-start !important; align-content:flex-start !important;">
                <h1 class="csh">{{getSetting "storage_name"}}</h1>
                {{#each gear as |gear id|}}
                    <div class="flexrow item-name item" style="align-items:center; border-bottom:2px solid black; gap:6px;" data-item-id="{{gear.id}}">
                        <h3 style="text-transform:uppercase; display:inline">{{gear.name}}</h3>
                        <span class="charsheet-box inline-edit-item" style="background:#beb19b; color:#6b6356" data-field="system.initial" contenteditable>{{gear.system.initial}}</span>
                        <span class="charsheet-box inline-edit-item" data-field="system.current" contenteditable><a class="roll-dice">{{gear.system.current}}</a></span>
                        <span style="color:#beb19b;">
                            <a title="Edit {{gear.name}}" class="item-edit item" data-item-id="{{gear.id}}"><i class="fa-solid fa-pencil"></i></a>&nbsp;
                            <a title="Delete {{gear.name}}" class="item-delete item" data-item-id="{{gear.id}}"><i class="fa-solid fa-xmark"></i></a></span>
                    </div>
                {{/each}}
        
            {{#if (getSetting "enable_healing")}}
            <div class="breathless flexrow" style="align-items:center; gap:12px" id="bl-healing">
                <h2 class="csh" style="display:inline;">{{getSetting "healing_name"}}</h2> 
                <a class="use-healing">
                    {{#ife healing.used true}}
                        <span style="font-size:3em"><i class="fa-solid fa-circle"></i></span>
                    {{/ife}}
                    {{#ife healing.used false}}
                        <span style="font-size:3em"><i class="fa-regular fa-circle"></i></span>
                    {{/ife}}
                    </a>
            </div>
            {{/if}}

            <div class="breathless flexrow" style="align-items:center; gap:12px" id="bl-special">
                <h2 class="csh" style="display:inline;">{{getSetting "special_name"}}</h2> 
                <a class="use-special">
                    {{#ife special.used true}}
                        <span style="font-size:3em"><i class="fa-solid fa-circle"></i></span>
                    {{/ife}}
                    {{#ife special.used false}}
                        <span style="font-size:3em"><i class="fa-regular fa-circle"></i></span>
                    {{/ife}}
                </a>
            </div>
            
        </div>
        
    </div>
    <div class="breathless flexrow csf" style="align-items:center; gap:6px">
            
            <h1 class="csh flex0">STRESS</h1>
                {{#each stress.states as |state count|}}
                    {{#ife state 0}}
                        <a style="font-size:3em;" data-pos="{{count}}" class="toggle-stress flex0"><i class="fa-regular fa-circle"></i></a>
                    {{/ife}}
                    {{#ife state 1}}
                        <a style="font-size:3em;" data-pos="{{count}}" class="toggle-stress flex0"><i class="fa-solid fa-circle"></i></a>
                    {{/ife}}
                {{/each}}
                {{#if stress.vulnerable}}<span class="csh flex0" style="font-size:2em; color:rgb(103, 38, 38);">VULNERABLE!</span>{{/if}}
            <div>
                <a class="catch-breath">
                    <span style="border:2px solid black; padding-left:12px; padding-right:12px; color:white; border-style:inset; background:black; border-radius:2px;font-size:2em; text-align:center" class="csh">CATCH YOUR BREATH</span>
                </a>
            </div>
            {{#if (getSetting "enable_lootcheck")}}
            <div>
                <a class="loot-check">
                    <span style="border:2px solid black; padding-left:12px; padding-right:12px; color:white; border-style:inset; background:black; border-radius:2px;font-size:2em; text-align:center" class="csh">CHECK FOR LOOT</span>
                </a>
            </div>
            {{/if}}
        </div>

</form>