<form class="{{cssClass}}" autocomplete="off">
    <header class="breathless charsheet-section sheet-header">
        <div class="breathless header flexrow">
        
            <div class="breathless bg-blue">
                <img class="profile-img" style="min-width:64px !important; min-height:64px !important" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
            </div>
            <div class="breathless header flex3 bg-green" style="text-align:center">
                <h1>{{localize "breathless.gen.charactersheet"}}</h1>
            </div>
        </div>

    </header>
    <div class="breathless charsheet-section flexcol bg-yellow">
        <div class="flexrow">
                <h3>NAME</h3>
                <span style="border-bottom:2px solid black;" data-field="name" class="character-name inline-edit flex3" contenteditable>{{actor.name}}</span>
        </div>
        <div class="flexrow"> 
                <h3>PRONOUNS</h3>
                <span style="border-bottom:2px solid black;" data-field="system.pronouns" class="character-name inline-edit flex3" contenteditable>{{actor.system.pronouns}}</span>
                <!--input class="breathless text" name="pronouns" type="text" value="{{pronouns}}" data-dType="String"/-->
        </div>
        <div class="flexrow">
                <h3>JOB</h3>
               <span style="border-bottom:2px solid black;" data-field="system.job" class="character-name inline-edit flex3" contenteditable>{{actor.system.name}}</span>
               <!--input class="breathless text" name="job" type="text" value="{{job}}" data-dType="String"-->
        </div>
    </div>
    <div class="breathless charsheet-section flexrow bg-gray">
        <h2>SKILLS</h2>
        <div class="breathless flexcol">
            
                {{#each skills as |skill id|}}
                    <div class="item-name item" data-item-id="{{skill.id}}">
                        <h3 style="display:inline">{{skill.name}}</h3>
                        <span style="border: 2px solid black; padding: 6px; margin-right:12px;">{{skill.system.initial}}</span>
                        <span style="border: 2px solid black; padding: 6px;"><a class="roll-dice">{{skill.system.current}}</a></span>
                    </div>
                {{/each}}
            
        </div>
        
        <div class="breathless flexcol">
                <h2>BACKPACK</h2>
                {{#each gear as |gear id|}}
                    <div class="flexrow item-name item" data-item-id="{{gear.id}}">
                        <h3 style="display:inline">{{gear.name}}</h3>
                        <span style="border: 2px solid black; padding: 6px; margin-right:12px;">{{gear.system.initial}}</span>
                        <span style="border: 2px solid black; padding: 6px;"><a class="roll-dice">{{gear.system.current}}</a></span>
                    </div>
                {{/each}}
        
            <div class="breathless flexrow" id="bl-healing">
                <h2 style="display:inline;">MEDKIT</h2> 
                <a class="use-healing">
                    {{#ife system.healing.used true}}
                        <span style="font-size:3em"><i class="fa-solid fa-circle"></i>
                    {{/ife}}
                    {{#ife system.healing.used false}}
                        <span style="font-size:3em"><i class="fa-regular fa-circle"></i>
                    {{/ife}}
                    </a>
            </div>
            <div class="breathless flexrow" id="bl-special">
                <h2 style="display:inline;">STUNT</h2> 
                <a class="use-stunt">
                    {{#ife system.special.used true}}
                        <span style="font-size:3em"><i class="fa-solid fa-circle"></i>
                    {{/ife}}
                    {{#ife system.special.used false}}
                        <span style="font-size:3em"><i class="fa-regular fa-circle"></i>
                    {{/ife}}
                </a>
            </div>
        </div>
        
    </div>
    <div class="breathless flexrow bg-blue">
            
            <h2 style="display:inline;">STRESS</h2>
                {{#each stress.states as |state count|}}
                    {{#ife state 0}}
                        <a style="font-size:3em;" data-pos="{{count}}" class="toggle-stress"><i class="fa-regular fa-circle"></i></a>
                    {{/ife}}
                    {{#ife state 1}}
                        <a style="font-size:3em;" data-pos="{{count}}" class="toggle-stress"><i class="fa-solid fa-circle"></i></a>
                    {{/ife}}
                {{/each}}
            
        </div>
</form>