<form class="breathless">
  <h3 class="roll-name flex2">{{roll_name}} {{localize "breathless.gen.roll"}} (1{{roll_die}})</h3>
  <div class="roll-result">{{localize "breathless.gen.result"}} {{roll_result}}</div>
  <div class="roll-outcome">{{roll_outcome}}</div>
</form>