<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "breathless.item.placeholder.name"}}"/></h1>
    </header>
    <hr/>
    <div class="dice flexrow">
        <h4>{{localize "breathless.dialogs.labels.initial_die"}}</h4>
        <select name="system.initial" id="initial">
            {{#select initial}}
                <option value="d6">{{localize "breathless.item.d6"}}</option>
                <option value="d8">{{localize "breathless.item.d8"}}</option>
                <option value="d10">{{localize "breathless.item.d10"}}</option>
            {{/select}}
        </select>
        <h4>{{localize "breathless.dialogs.labels.current_die"}}</h4>
        <select name="system.current" id="current">
            {{#select current}}
                <option value="d6">{{localize "breathless.item.d6"}}</option>
                <option value="d8">{{localize "breathless.item.d8"}}</option>
                <option value="d10">{{localize "breathless.item.d10"}}</option>
            {{/select}}
        </select>
    </div>
</form>